* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: azure;

}

p {
    text-align: center;
    font-size: 25px;
    color: rgb(241, 230, 230);
}

.logo-do-salao {
    height: 200px;
    margin-left: 60px;
}

button {
    color: rgb(236, 230, 230);
    background-color: rgb(160, 9, 9);
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}

.cabelo {
    height: 300px;
}

body {

    height: 100vh;
}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;



}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
    height: 100vh;

}

.link-whatsap img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}

.header img {
    height: 60px;
}

.header a {
    color: rgb(247, 238, 238);
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: red;
    font-size: 26px;
    transition: 0.5s color ease-in-out;

}

.formulario-fale-conosco {
    background-color: rgba(240, 227, 227, 0.911);
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    top: 30%;
    left:-300px;
    padding: 20px;
    border-radius: 5px;
  

}
input {
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: rgb(231, 9, 9);}

    textarea{
        width: 270px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid gray;
        padding-left: 5px;
        outline-color: rgb(231, 9, 9);

    }

    .mascara-formulario{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    }
    /*
    Inicial
    top: 30%;
    left:-300px;

    final
    top 30%
    left 50%
    tranform:translatex (-50%);
